body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: bisque;
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;
  font-family: 'Mali', cursive;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: dimgrey;
  }
}